@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #a7bcff;
}

/* Hide scrollbar */
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* MessagesContainer */
.message {
<<<<<<< HEAD
  @apply w-full flex items-start gap-4 mt-8;
=======
  @apply w-full flex items-center gap-4 mt-8;
>>>>>>> 22787e0eed2501f778f9bd2c7a3115775862a9d2
  .info {
    @apply flex flex-col items-start;
    .thumb {
      @apply w-8 h-8 rounded-[50%];
    }
  }
  .message-content {
<<<<<<< HEAD
    @apply grow flex flex-col items-start space-y-2;
    span {
      @apply max-w-[80%] p-2 mb-4 bg-white rounded-b-lg rounded-r-lg;
    }
    img {
      @apply max-w-[50%];
    }
=======
    @apply max-w-[80%] p-2 bg-white rounded-b-lg rounded-r-lg;
>>>>>>> 22787e0eed2501f778f9bd2c7a3115775862a9d2
  }
  &.owner {
    @apply flex-row-reverse;
    .message-content {
<<<<<<< HEAD
      @apply items-end;
      span {
        @apply max-w-[80%] p-2 bg-[#8da4f1] text-slate-100 rounded-r-none rounded-b-lg rounded-l-lg;
      }
=======
      @apply max-w-[80%] p-2 bg-[#8da4f1] text-slate-100 rounded-r-none rounded-b-lg rounded-l-lg;
>>>>>>> 22787e0eed2501f778f9bd2c7a3115775862a9d2
    }
  }
}
